@font-face {
    font-family: "maru";
    src: url("fonts/maru.otf");
}
body {
	margin: 0;
	font-family: "maru";
	font-size: 1.5vw;
}

.FMCHeader {
	background-color:#EEEEEE;
	text-align: center;
	font-size: 2.6vw;
	padding-top: 0.10vw;
 	padding-bottom:0.10vw;
}

.search {
	width: 2%;
	vertical-align: middle;
	float: right;
	padding-right: 3%;
	padding-top: 0.7%;
}
.FMCFun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 14%;
}

.bottomImg {
	height: 3%;
	width: 3%;
	margin-left: 5%;
	margin-right: 5%;
	vertical-align: middle;
}

.loc {
	height: 2%;
	width: 2%;
	vertical-align: middle;
}

.email {
	height: 3%;
	width: 3%;
	vertical-align: middle;
}
.copyright{
	font-family: "Times New Roman";
	font-size: 1.2vw;
}
.line{
	height: 0.1%;
	width: 0.3%;
	vertical-align: middle;
}
.aboutus{
	text-align: center;
	background-color: #EEEEEE;
	padding-top: 1vw;
 	padding-bottom:0.5vw;
}