@font-face {
    font-family: "maru";
    src: url("fonts/maru.otf");
}
@font-face {
    font-family: "bear";
    src: url("fonts/bear.otf");
}
@font-face {
    font-family: "rustico";
    src: url("fonts/rustico.otf");
}
* {
            margin: 0px;
            padding: 0px;
 }
html,body {

	font-family: "maru";
	font-size: 1.5vw;
	height: 100%;
}



.FMCHeader {
  position: relative;
  text-align: center;
	background-color:#EEEEEE;
	font-size: 2.6vw;
	padding-top: 0.10vw;
 	padding-bottom:0.10vw;
}
.search {
  position: absolute;
  right: 0;
	width: 2%;
	vertical-align: middle;
	padding-right: 3%;
	padding-top: 0.7%;
}

.FMCFun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 14%;
}

.bottomImg {
	height: 3%;
	width: 3%;
	margin-left: 5%;
	margin-right: 5%;
	vertical-align: middle;
}

.loc {
	height: 2%;
	width: 2%;
	vertical-align: middle;
}

.email {
	height: 3%;
	width: 3%;
	vertical-align: middle;
}
.copyright{
	font-family: "Times New Roman";
	font-size: 1.2vw;
}
.line{
	height: 0.1%;
	width: 0.3%;
	vertical-align: middle;
}
.aboutus{
	
	text-align: center;
	background-color: #EEEEEE;
	padding-top: 1vw;
	padding-bottom:0.3vw;
	z-index: 9999;
}
.rect{
	 fill:#5e5e5e;
	 opacity:0.8;

}
.title{
	fill: #ffffff;
	font-size: 10vw;
}
.wechatTxt{
	text-align: center;
	font-family: "Trajan Pro 3";
	font-size: 3vw;
	padding-top: 1vw;
 	padding-bottom:1vw;
}
.wechatImg{
	width: 30%;
	vertical-align: middle;
	padding-top: 0.7%;

}
.joinus{
  text-align: center;
  font-family:"bear";
  font-size: 4vw;
  padding-top: 1vw;
  padding-bottom:1vw;
  color: #00A2FF;

}
.whoweare{
  text-align: center;
  font-family:"rustico";
  font-size: 4vw;
  padding-top: 1vw;
  padding-bottom:1vw;
  color: #FF644E;
}
