.filmforensik{
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 130px;
  line-height: 83px;
  padding-left: 15%
}

.blinking-cursor {
    font-size: 100px;
  font-weight: 20px;
  letter-spacing: 0px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.forensikHeader{
  font-family: 'Courier New';
  text-align: left;
  background-color:#EEEEEE;
  font-size: 34.44px;
  padding-top: 9px;
  padding-bottom:9px;
}
.bannor{
  color: #5E5E5E;
  padding-left: 4%;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  transition: 0.6s ease;
}
.bannor:hover{
  color: red;
}
.forensikSearch {
  width: 26px;
  float: right;
  vertical-align: middle;
  padding-right: 57.6px;
  padding-top: 4px;
}
.title{
  font-family: "Hiragino Kaku Gothic Pro";
  color: #5E5E5E;
  padding-top: 30px;
  text-align: center;
  font-size: 70px;
}
.content{
  width: 55%;
  padding-left: 5%;
  font-family: "Hiragino Kaku Gothic Pro";
}
