.row{
  padding-top: 20px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 32%;
    padding: 1vw 0.5vw 1vw 0.5vw;
    position: relative;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
div{
  position: relative;
}

.smartImg{
  width: 32vw;
  border-radius: 5px;
  transition: .6s ease;
}
.smartImg:hover {
	-webkit-filter: brightness(70%);
 }
 .smartImg:hover + .smartTxt{
	opacity:1;
 }
.smartTxt{
	font-family: "Hiragino Kaku Gothic Pro";
	position:absolute;
	bottom: 10px;
	z-index: 1;
	color: #eee;
	opacity: 0;
	transition: .6s ease;
}
