.row{
  padding-top: 20px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 32%;
    padding: 10px 10px 10px 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.smartImg{
  width: 32vw;
  border-radius: 5px;

}